<h2>pomocy</h2>

@if(game){
    ID: {{ game.game_id }}
    STATUS: {{ game.game_status }}
    <br><hr>
    @for(player of game.players; track player.player_id)
    {
        &nbsp;
        @if(player.player_id === game.current_player?.player_id)
        {
            <b [style.color]="player.player_color">[{{player.player_name}}]</b>
            <label for="player_status"> {{player.player_status}}</label>
            @if(game!.game_status == "created")
            {
                <input type="checkbox" name="player_status" [(ngModel)]="game!.player_status" (input)="change_status($event)">
            }

        }@else{
            <span [style.color]="player.player_color">{{player.player_name}} </span>
            <span> {{player.player_status}}</span> 
        }
    }
    <hr>


<app-game-board [board]="game_board" [player_color]="game.player_color" [throw_dice_to_child]="throw_dice" [disabled]="game.disabled" [pawns]="game.players_pawns" [move_pawn]="move_pawn"></app-game-board>
  
}
@else{
    <label for="nickname">enter nickname: </label>
    <input required type="text" name="nickname" id="nickname" (input)="nickname_change($event)">
    <button (click)="add_player()">add player</button>
    <select>
        @for(option of voicesArray; track option.name)
        {
            <option value="{{option.name}}">{{option.name}}</option>
        }
    </select>
    
    <!-- {{nickname()}} -->
}
