<div class="tile" [style.backgroundColor]="tile.background_color"> 
    <!-- "blank" | "gameboard_tile" | "starting_base" | "ending_base" | "starting_point" | "ending_point" | "dice", -->

    @switch(tile.role)
    {
        @case('starting_base')
        {
            @if(tile.occupied)
            {
                <div class="occupied"></div>
            }
        }
        @case('gameboard_tile'){
            @if(tile.occupied)
            {
                <div class="occupied"></div>
            }
            @else{
                <!-- {{ index }} -->
            }
        }
        @case('dice'){
            <img src="../../../assets/dice-cube.png" alt="dice" (click)="invokeParentFunction()"/>
        }
        @default{
            
        }
    }

    <!-- <b>{{ tile.type }}</b> -->
</div>
