<div class="tile" [style.backgroundColor]="tile.background_color"> 
    <!-- "blank" | "gameboard_tile" | "starting_base" | "ending_base" | "starting_point" | "ending_point" | "dice", -->

    @for(p of pawns_on_tile; track p.pawn_id){
        <div (click)="move(p)" [style.backgroundColor]="p.color" class="pawn">{{index}}</div>
    }

    @switch(tile.role)
    {
        @case('dice'){
            <img src="../../../assets/dice-cube.png" alt="dice" (click)="invokeParentFunction()"/>
        }
    }

    <!-- <b>{{ tile.type }}</b> -->
</div>
